{% extends "global/Page.html" %}
{% load otree static %}


{% block title %}
    Choose a task from your list
{% endblock %}


{% block content %}
{{if player.participant.treatment == 'Post_Information' }}
<p>
    As promised earlier, we will provide you some detailed information about a certain task before you make your choice. <br>
</p>

{{ include 'RET_Choice/RetChoiceInformation.html' }}

{{ endif }}

<p>
    You must now choose a task from the list in your {{ menu_stage }} task-list pair. <br>
    Previously, you selected option {{Prev_Opt}} when you chose your {{ menu_stage}} task-list pair. Please select one of the tasks from that list now:
</p>

    {% formfield player.menu_task label=""%}


<br>
    {% next_button %}

<p>
    Task descriptions are provided below if you'd like to refer to them.
</p>

{{ include 'RET_Choice/Task_Descriptions.html'}}



{% endblock %}
