{% extends "global/Page.html" %}
{% load otree static %}


{% block title %}
    Choose a task from the list
{% endblock %}


{% block content %}
{{if player.participant.treatment == 'Post_Information' and player.participant.stage == '1b' and player.participant.treatment_used1}}
<p>
As promised earlier, I am going to provide you with detailed information about a certain task before you make your choice.<br>
</p>

{{ include 'RET_Choice/RetChoiceInformation.html' }}

{{ endif }}

{{if player.participant.treatment == 'Post_Information' and player.participant.stage == '2b' and player.participant.treatment_used2}}
<p>
As promised earlier, I am going to provide you with detailed information about a certain task before you make your choice.<br>
</p>
{{ include 'RET_Choice/RetChoiceInformation.html' }}

{{ endif }}
<br>


<p>
    You must now choose a task from the list in your {{ menu_stage }} task-list pair. <br>
    Previously, you selected option {{Prev_Opt}} when you chose your version {{ version_for_template }} task-list pair. Please select one of the tasks from that list now:
</p>

    {% formfield player.menu_task label=""%}

<br>
    {% next_button %}

<details>
    <summary>Click here if you would like to see the task descriptions.</summary>
    {{ include 'RET_Choice/Task_Descriptions.html'}}

</details>



{% endblock %}
