{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    This Page will Introduce Subjects to the BDM Procedure!
{% endblock %}

{% block content %}


{{ include Constants.BDM_Info_Template }}

<p>
    Before we proceed to the next stage of the experiment, I want to check that you've understood the switch-point procedure. <br>
    To check your understanding, I’ll ask you some questions. <br>
    You’ll still be able to see the above information while answering the questions. <br>
    Good luck!
</p>

    {% next_button %}

{% endblock %}
