{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Introduction to the switch-point procedure
{% endblock %}

{% block content %}


{{ include 'BDM/BDM_Info.html' }}



<h3>Next steps</h3>
<p>
    Later stages of the experiment will use the switch-point procedure. <br>
    Before proceeding to the next stage of the experiment, I want to check that you've understood the switch-point procedure. <br>
    To check your understanding, I’ll ask you some questions. <br>
    You’ll still be able to see the above information while answering the questions. <br>
    Press the next button to continue.
</p>

    {% next_button %}

{% endblock %}
