{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Introduction to the switch-point procedure
{% endblock %}

{% block content %}
<h3>Please watch the video below for instructions</h3>
    <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
    <div id="player"></div>

    <script>
      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '390',
          width: '640',
          videoId: 'rvUg3i1B14g',
          rel : 0,
          playerVars: {
            'playsinline': 1,
            'rel':0,
          },
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
    function onPlayerStateChange(event) {
        if(event.data === 0) {
            document.getElementById("div1").style.visibility = "visible";
            document.getElementById("NextHead").style.visibility = "hidden";
        }
    }

    window.onload = function () {
        if (localStorage.getItem("hasBDMCodeRunBefore") === null) {
            document.getElementById("div1").style.visibility = "hidden";
            localStorage.setItem("hasBDMCodeRunBefore", true);
        } else {
            document.getElementById("div1").style.visibility = "visible";
            document.getElementById("NextHead").style.visibility = "hidden";
        }
    }
    function loadNewVid(vidID){
        player.destroy();
        playerParams.videoId = vidID;
        player = new YT.Player('player', playerParams);
    }
    </script>
<br> <br>
<h2>Text instructions</h2>
{{ include 'BDM/BDM_Info.html' }}



<h3>Next steps</h3>
<p>
    Later stages of the experiment will use the switch-point procedure. <br>
    Before proceeding to the next stage of the experiment, I want to check that you've understood the switch-point procedure. <br>
    To check your understanding, I’ll ask you some questions. <br>
    You’ll still be able to see the above information while answering the questions. <br>
    Press the next button to continue.
</p>

<div id="div1" style="visibility: hidden;">
        {% next_button %}
</div>

<h2 id="NextHead">Next Button will appear once video has been watched </h2>

{% endblock %}
