{% extends "global/Page.html" %}
{% load otree static %}
<style>

div.remind {
  border: 3px dashed red;
  text-align: center;
}
div.opt1 {
  border: 2px solid black;
  text-align: center;
}

div.opt2 {
  border: 2px solid black;
  text-align: center;
}

ul { display: inline-block; text-align: left; }



</style>

{% block title %}
    Random Selection Results
{% endblock %}

{% block content %}

<p>
    Thank you for choosing your version {{ version_for_template }} task-list pairs.
    I randomly selected your {{ treatment_template }} version {{ version_for_template }} choice.
    This means you will have to complete the following task-list pair:
</p>

{{ if player.participant.treatment_used1 == 'Treatment' }}
    {% with control=False %}
        {{ if player.Task_Choice == "Option 1" }}
            {{ include 'RET_Choice/Option1.html'}}
        {{ else }}
            {{ include 'RET_Choice/Option2.html'}}
        {{ endif }}
    {% endwith %}
{{ elif player.participant.treatment_used1 == 'Blunder'}}
    {{ if player.Blunder_Task_Choice == "Option 1" }}
        <div class = "opt1">
        <p>
            Complete the <strong>{{Good_Task}} (level 1)</strong> task. <br>
            After completing the <strong>{{Good_Task}} (level 1)</strong> task, you must complete <strong>one</strong> of the following tasks:
        </p>
            <ul>
                <li>{{remaining_tasks.0}} (level 1)</li>
                <li>{{remaining_tasks.1}} (level 1)</li>
                <li>{{remaining_tasks.2}} (level 1)</li>
            </ul>
        </div>
    {{ else }}
        <div class = "opt2">
        <p>
            Complete the <strong>{{Bad_Task}} (level 1)</strong> task. <br>
            After completing the <strong>{{Bad_Task}} (level 1)</strong> task, you must complete <strong>one</strong> of the following tasks:
        </p>
            <ul>
                <li>{{remaining_tasks.0}} (level 1)</li>
                <li>{{remaining_tasks.1}} (level 1)</li>
                <li>{{remaining_tasks.2}} (level 1)</li>
            </ul>
        </div>
    {{ endif }}
{{ else }}
    {% with control=True %}
        {{ if player.Control_Task_Choice == "Option 1" }}
            {{ include 'RET_Choice/Option1.html'}}
        {{ else }}
            {{ include 'RET_Choice/Option2.html'}}
        {{ endif }}
    {% endwith %}
{{ endif }}


<br>

{{ if version_for_template == 'A'}}
Click the next button to choose your version B task-list pairs.
{{ else }}
Click the next button to complete the first task in your version A task-list pair.
{{ endif }}
<br> <br>

    {% next_button %}




{% endblock %}

