{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Choose Tasks to Complete
{% endblock %}

{% block content %}

{{if Constants.name_in_url == 'RET_Choice_2'}}
    <h3> THIS IS SPARTA</h3>
{{ endif }}

<p> In this stage of the experiment, you will choose some tasks to complete. <br>
    In total, you will have to complete <b>4</b> more tasks to finish the experiment. <br>
    Instead of selecting tasks directly, you will have to choose task-list pairs. <br>
    In each task-list pair, you will have to select one task to complete immediately, as well as a list of tasks. <br>
    After you complete the first task, you must choose one task from the list to complete. <br>
    You will select two task-list pairs from the available options. <br>
    Remember, the choices you make now could significantly affect the time it takes for you to complete the experiment! <br>
    Click the next button to choose your task-list pairs. <br>
</p>
<br>
    {% next_button %}


{% endblock %}
