{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Choose your {{stage_for_template}} task-list pair
{% endblock %}

{% block content %}
<p> In this stage of the experiment, you need to select a task-list pair. <br>
    You need to pick one task to complete now. <br>
    In addition, you will have to pick a list of tasks. <br>
    You will have to complete one task from the list after you complete the first task. <br>
    The available options are below: <br>
</p>
<br>

<p>
    You must pick one of the following options:
</p>
{{ if player.participant.treatment == 'Substitution' }}
    {{ include 'RET_Choice/Substitution_Opt1.html'}}
    <br>
    {{ include 'RET_Choice/Substitution_Opt2.html'}}
{{ endif }}

{{ if player.participant.treatment == 'Post_Information' }}
    {{ include 'RET_Choice/Post_Opt1.html'}}
    <br>
    {{ include 'RET_Choice/Post_Opt2.html'}}
{{ endif }}

{{ if player.participant.treatment == 'Pre_Information' }}
    {{ include 'RET_Choice/Pre_Opt1.html'}}
    <br>
    {{ include 'RET_Choice/Pre_Opt2.html'}}
{{ endif }}

    Please pick one of the options.

    {% formfield player.Task_Choice label=""%}

    {% next_button %}

<p>
    Task descriptions are provided below if you'd like to refer to them.
</p>

{{ include 'RET_Choice/Task_Descriptions.html'}}


{% endblock %}
