
{% extends "global/BaseMotherhood.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Instructions for the Replication (level {{player.participant.lc1a}}) task
{% endblock %}

{% block content %}

{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <h2 class="panel-sub-heading">
        
    </h2>

    <link rel="stylesheet" type="text/css"
          href="{% static 'global/matrix.css' %}"/>

    <p>
        You will now complete the replication (level {{player.participant.lc1a}}) task.
        In this task you will be presented with a series of randomly selected sequences each containing {{Constants.string_length}} characters. <br>
        Each sequence will consist of {{ level_description }}.<br>
        You must type all {{Constants.num_rounds}} sequences correctly to move on to the next task. There is <b>no</b> time limit.
        Note that each sequence has to be correct for you to proceed the next sequence.
    </p>
    <p>
      Once you have entered your text, click the <b>Next</b> button or press the <b>Enter</b> key.<br><br>
    </p>
     <p>
         After you have typed all {{Constants.num_rounds}} sequences correctly, you may move on to the next task.
    </p>
    <p>
        Please click the "Next" button to start this task. The instructions will be repeated on every page.<br>
    </p>

</div>
      {% next_button %}<br><br><br>





{% endblock %}
