{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Welcome to the experiment!
{% endblock %}

{% block content %}

<p>
    You are about to participate in an experiment in the economics of decision-making.
    If you <b>complete</b> this experiment, you will earn <b>$20</b>, which will be paid to you via PayPal at the end of the experiment.
    If you follow the instructions carefully and make good decisions, you will be able to complete the experiment in as little as <b>30 minutes</b>.
</p>
<br>
<h3> The Basic Idea </h3>
<p>
    In this experiment, you will have to complete several <b>real effort tasks</b> using your computer. <br>
    Examples of real effort tasks include solving a maze or summing a series of numbers. <br>
    You will <b>not</b> complete any of the above example real effort tasks over the course of this experiment. <br>
    All tasks in this experiment are designed to be equally difficult, but you may be able to complete some tasks quicker than others due to your own aptitudes and abilities.
</p>
<p>
    You will be able to choose which tasks you want to complete - so choosing appropriately will allow you to complete the experiment quicker. <br>
    However, you will <b>not</b> know what a task entails before you make your choice. <br>
    Instead, you will be given a <b>vague description</b> of each task, and have to make your choice based on these vague descriptions. <br>
    For instance, a vague description of the summing task might be: "Subjects must use their aggregation skills to catalog quantities". <br>
    You can click the text below to see the vague descriptions of all the tasks you might have to complete in this experiment.
</p>
<br>

<details>
    <summary> Click this text to show / hide the vague descriptions of the tasks!</summary>
    {{ include 'RET_Choice/Task_Descriptions.html'}}

</details>

<br>


<h3>What's Next?</h3>
<p>
    This experiment has 4 stages. <br>
    First, we will ask you some questions about how much you value completing an unknown task. <br>
    Afterwards, you will be able to choose the tasks you want to complete from a specified list. <br>
    Next, you will complete the tasks you chose. <br>
    Finally, you will answer a simple demographic survey at the end of the experiment. <br>
    Please note that you will only be paid if you <b>complete</b> the demographic survey.
</p>

<h4>The next stage</h4>
<p> As part of this experiment, we want to determine how much you value completing an unknown task. <br>
    We will use the switch-point procedure for this purpose. <br>
    Click the next button to learn about the switch-point procedure.
</p>
    {% next_button %}

{% endblock %}
