{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Welcome to the experiment!
{% endblock %}

{% block content %}

<p>
    You are about to participate in an experiment in the economics of decision-making.
    If you <b>complete</b> this experiment, you will earn <b>$20</b>, which will be paid to you via PayPal at the end of the experiment.
    If you follow the instructions carefully and make good decisions, you will be able to complete the experiment in as little as <b>30 minutes</b>.
</p>
<br>
<h3> The Basic Idea </h3>
<p>
    In this experiment, you will have to complete several <b>real effort tasks</b> using your computer.
    You will be able to choose which tasks you want to complete - so choosing appropriately will allow you to complete the experiment quicker.
    However, you will receive only a vague description of each task before you make your choice.
</p>
<br>
<p> Click the next button to proceed! </p>
    {% next_button %}

{% endblock %}
