
{% extends "global/BaseMotherhood.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Instructions
{% endblock %}

{% block content %}

{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <h2 class="panel-sub-heading">
        
    </h2>

    <link rel="stylesheet" type="text/css"
          href="{% static 'global/matrix.css' %}"/>

    <p>
      In this part of the experiment you will be presented with a grid of characters. This grid will contain {{level_description}}.
        <br>You must count the number of zeroes in each grid in order to move on to the next task. There is <b>no</b> time limit.
        Note that the number of zeros must be correct for you to proceed the next sequence.
    </p>
    <p>
      Once you have entered your answer, click the <b>Next</b> button or press the <b>Enter</b> key.<br><br>
    </p>
     <p>
           After you have counted all {{Constants.num_rounds}} grids correctly, you may move on to the next task.
    </p>
    <p>
           Otherwise, if you are ready, please click "Next" below to start this task. The instructions will be repeated on every page.<br>
    </p>

</div>
      {% next_button %}<br><br><br>





{% endblock %}
