{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
       Participant Information Sheet
{% endblock %}

{% block content %}

<!--    <div class="info-msg">
  <i class="fa fa-info-circle"></i>
  This is a test session, including a test of the Consent Form interface. Some of the information below is not relevant for today's test session.
    Please ask the experimenter via the Zoom chat function if you have any questions.
</div>-->

<br>
<h3>Researcher:</h3>
    <p>My name is Dr. Evan Calford, and I am a John Mitchell Fellow in the Research School of Economics at the Australian National University.</p>

    <h3>Project Title:</h3>
    <p>Experiments on the economics of decision making</p>

    <h3>General Outline of the Project:</h3>

        <p>
            <b>Description and Methodology:</b> For this experiment, you will participate in a series of decision making rounds. In each round you will be placed in a group with other participants and you will enter your decision via a browser on your computer. The outcome in each round will depend on both your decision and the decisions of other participants in the group.
    </p>

<p> <b>Participants:</b>  Each session of this experiment will contain approximately 20 participants, and I will run multiple sessions. You will only be able to participate in at most one session of the experiment. Participants will be recruited from the Research School of Economics Experimental Participant Sign-up System.
</p>

        <p> <b>Use of Data and Feedback:</b>  The data will be used to produce peer-reviewed published articles and conference presentations. The research results will be made available, once the research is completed, on my research homepage: https://sites.google.com/site/evancalford/
        </p>


    <h3>Participant Involvement:</h3>

    <p> <b>Voluntary Participation & Withdrawal:</b> Your participation in this research is voluntary, and you may decline to take part or withdraw from the research without providing an explanation at any time until the completion of the experiment (at which time data is stored in the database without any way to identify and remove your data). Within the research you may decline to answer any question about yourself. If you withdraw, the individual data you have provided prior to withdrawal will be destroyed and not used where feasible. In some cases, because data is recorded in groups, it may not be possible to remove your data.
    </p>

<p><b>What does participation in the research entail?</b>  Your participation will begin with the instructions for the research being read aloud via a Zoom call. The zoom call will not be recorded or used for research purposes in any way; it is merely a way to disseminate information to you. You will proceed to a website link that we will provide, and you will complete the experiment at that website. We will record the decisions that you enter on the website, and you will enter your decisions using your mouse and/or keyboard. At the end of the experiment you will complete a brief demographic survey.
</p>

    <p><b>Location and Duration:</b> The experiment will take place online, via our website. The experiment is expected to last, in total, approximately 60 to 90 minutes.
    </p>

    <p><b>Remuneration:</b> You will be paid for your participation in this experiment. Your payment will depend on your decisions made during the experiment, and on the decisions of other participants in your group. You will receive $5 for completing the experiment, plus any additional money you earn during the course of the experiment. Your total payment for the experiment is expected to be in the range of $15 to $35.

    </p>
    <br>
<!--           <div class="info-msg">
  <i class="fa fa-info-circle"></i>
  This is a test session, including a test of the Consent Form interface. This session will last less than 30 minutes and compensation will be $10.
</div>-->
<br>
    <p><b>Risks:</b> This research does not involve any risk beyond that associated with everyday use of the internet to interact with other people. We will turn off all microphones during the Zoom call at the start of the experiment, disable the chat function, and we will assign each of you a random ID during the call.</p>

    <p><b>Benefits:</b> It is unlikely that you will personally benefit from participation in this research. However, the work will improve our understanding of the ways in which humans make decisions in economic environments.
    </p>

    <h3>Confidentiality:</h3>

    <p><b>Confidentiality:</b>  We will keep your identity confidential as far as allowed by law. Once your data is recorded into our database it will not be possible to identify your data. Record of your participation in the experiment will be kept separately from the experimental data.
 </p>

    <h3>Privacy Notice:</h3>
<p>In collecting your personal information within this research, the ANU must comply with the Privacy Act 1988. The ANU Privacy Policy is available at https://policies.anu.edu.au/ppl/document/ANUP_010007 and it contains information about how a person can:
</p>
    <ul>
    <li>Access or seek correction to their personal information;
    </li>
        <li>Complain about a breach of an Australian Privacy Principle by ANU, and how ANU will handle the complaint.</li>
</ul>

<h3>Data Storage:</h3>
    <p><b>Where:</b>   Identifying Data will be stored on password-protected computers in the Research School of Economics at the ANU. The non-identified data may be stored on researcher’s laptops to facilitate working from home in accordance with current and future COVID restrictions. The non-identified data may also be stored in data repositories in accordance with the requirements of any peer reviewed journals in which the research may be published.
    </p>
    <p><b>How long:</b> All research data will be retained and securely stored for at least five years following publications arising from the research.
    </p>

    <p><b>Handling of Data following the required storage period:</b>  After the storage period, the non-identified data may continue to be stored in data repositories in in accordance with the requirements of any peer reviewed journals in which the research may be published.
    </p>
    <h3>Queries and Concerns:</h3>
    <p><b>Contact Details for More Information:</b>  Any requests for information or queries regarding the study should be directed to Evan.Calford@anu.edu.au (+61 2 612 51011).
</p>
    <h3>Ethics Committee Clearance:</h3>
<p>The ethical aspects of this research have been approved by the ANU Human Research Ethics Committee (Protocol 2020/529). If you have any concerns or complaints about how this research has been conducted, please contact:
</p>
<p>
Ethics Manager <br>
The ANU Human Research Ethics Committee  <br>
The Australian National University  <br>
Telephone: +61 2 6125 3427  <br>
Email: Human.Ethics.Officer@anu.edu.au  <br>
</p>

<h2>Written Consent</h2>
    <p>I have read and understood the above Information Sheet you have given me about the research project, and I
    have had any questions and concerns about the project addressed to my satisfaction.</p>

{% formfields %}

    {% next_button %}


    <style>
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');
.info-msg,
.info-msg {
  color: #059;
  background-color: #BEF;
}
</style>

{% endblock %}
