{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
       Participant Information Sheet
{% endblock %}

{% block content %}
<p>
    Please read through the participant information sheet below.
    To open the participant information sheet in a new tab click <a href="{{static '/global/Info_Sheet_Final.pdf'}}">here</a>.
</p>

  <iframe frameborder="0" scrolling="no"
     width="946" height="700"
     src="{{static '/global/Info_Sheet_Final.pdf'}}">
  </iframe>


<!--<br>-->
<!--<h3>Researcher:</h3>-->
<!--    <p>-->
<!--        My name is Vivikth Narayanan, and I am an economics honours student at the Australian National University.-->
<!--    </p>-->

<!--    <h3>Project Title:</h3>-->
<!--    <p>Effect of Information on Experimentation Behaviour</p>-->

<!--    <h3>General Outline of the Project:</h3>-->

<!--        <p>-->
<!--            <b>Description and Methodology:</b>-->
<!--For this experiment, you will participate in a series of decision-making stages. In the first stage, you will answer questions about your willingness to complete unknown tasks. You will be given a vague description of each task you might have to complete.  In the second stage, you will choose tasks to complete from a given list. In the third and final stage, you will complete the tasks you have chosen.-->
<!--    </p>-->

<!--<p> <b>Participants:</b>-->
<!--You will not interact with any other participants over the course of this experiment. You will only be able to participate in this experiment one time. Participants will be recruited from the Research School of Economics Experimental Participant Sign-up System. A maximum of 50 participants will be able to complete the experiment in a single day.-->
<!--</p>-->

<!--        <p> <b>Use of Data and Feedback:</b>-->
<!--            The data collected from this experiment will be used to produce my thesis. The research results will be made available, once the research is complete at the following link: shorturl.at/nprFK-->
<!--        </p>-->


<!--    <h3>Participant Involvement:</h3>-->

<!--    <p> <b>Voluntary Participation & Withdrawal:</b>-->
<!--Your participation in this research is voluntary, and you may-->
<!--decline to take part or withdraw from the research without providing an explanation at any time until the-->
<!--completion of the experiment (at which time data is stored in the database without any way to identify-->
<!--and remove your data). Within the research you may decline to answer any question about yourself. If-->
<!--you withdraw, the individual data you have provided prior to withdrawal will be destroyed and not used-->
<!--where feasible.-->
<!--    </p>-->

<!--<p><b>What does participation in the research entail?</b>-->
<!--    Your participation will begin with the instructions for the-->
<!--research being read aloud via a Zoom call. The zoom call will not be recorded or used for research purposes in any way; it is merely a way to disseminate information to you. You will proceed to a website link that we will provide, and you will complete the experiment at that website. We will record the decisions that you enter on the website, and you will enter your decisions using your mouse and/or keyboard. The experiment will consist of several different activities, all of which will be completed on your computer. At the end of the experiment, you will complete a brief demographic survey.-->

<!--</p>-->

<!--    <p><b>Location and Duration:</b>-->
<!--The experiment will take place online, via our website. The experiment is expected to last (in total) approximately 30 to 60 minutes.-->
<!--    </p>-->

<!--    <p><b>Remuneration:</b>-->
<!--You will be paid for your participation in this experiment. You will receive a fixed fee of $20 if you complete the experiment and will not receive any money if you do not complete the experiment. The decisions you make during the experiment will not affect your payment. However, the decisions you make will affect the time it takes for you to complete the experiment.-->
<!--    </p>-->
<!--<p><b>Risks:</b>-->
<!--This research does not involve any risks beyond that associated with everyday use of the internet. The tasks you will have to complete will not place you in any physical or psychological harm.    </p>-->

<!--    <p><b>Benefits:</b>-->
<!--It is unlikely that you will personally benefit from participation in this research. However, the work will improve our understanding of how information affects the decisions humans make in economic environments.    </p>-->

<!--    <h3>Confidentiality:</h3>-->

<!--    <p><b>Confidentiality:</b>  We will keep your identity confidential as far as allowed by law. Once your data is recorded into our database it will not be possible to identify your data. Record of your participation in the experiment will be kept separately from the experimental data.-->
<!-- </p>-->

<!--<h3>Exclusion Criteria</h3>-->
<!--<p><b>Participation Limitation:</b> ANU students only</p>-->

<!--    <h3>Privacy Notice:</h3>-->
<!--<p>In collecting your personal information within this research, the ANU must comply with the Privacy Act 1988. The ANU Privacy Policy is available at https://policies.anu.edu.au/ppl/document/ANUP_010007 and it contains information about how a person can:-->
<!--</p>-->
<!--    <ul>-->
<!--    <li>Access or seek correction to their personal information;-->
<!--    </li>-->
<!--        <li>Complain about a breach of an Australian Privacy Principle by ANU, and how ANU will handle the complaint.</li>-->
<!--</ul>-->

<!--<h3>Data Storage:</h3>-->
<!--    <p><b>Where:</b>-->
<!--Identifying data will be stored on password protected computers in the research school of economics. The non-identified data may be stored on researcher’s laptops to facilitate-->
<!--working from home in accordance with current and future COVID restrictions. The non-identified data-->
<!--may also be stored in data repositories in accordance with the requirements of the honours thesis.-->
<!--    </p>-->
<!--    <p><b>How long:</b>-->
<!--All research data will be retained and securely stored for at least one year following thesis submission.-->
<!--    </p>-->

<!--    <p><b>Handling of Data following the required storage period:</b>-->
<!--After the storage period, the non-identified-->
<!--data may continue to be stored in data repositories in in accordance with the requirements of any peer-->
<!--reviewed journals in which the research may be published.-->
<!--    </p>-->
<!--    <h3>Queries and Concerns:</h3>-->
<!--    <p><b>Contact Details for More Information:</b>-->
<!--Any requests for information or queries regarding the study-->
<!--participants should be directed to u6033272@anu.edu.au (+61 437 543 325) or my supervisor-->
<!--Evan Calford (Evan.Calford@anu.edu.au, + 61 414 605 494).-->
<!--</p>-->
<!--    <h3>Ethics Committee Clearance:</h3>-->
<!--<p>The ethical aspects of this research have been approved by the ANU Human Research Ethics Committee (Protocol 2021/422). If you have any concerns or complaints about how this research has been conducted, please contact:-->
<!--</p>-->
<!--<p>-->
<!--Ethics Manager <br>-->
<!--The ANU Human Research Ethics Committee  <br>-->
<!--The Australian National University  <br>-->
<!--Telephone: +61 2 6125 3427  <br>-->
<!--Email: Human.Ethics.Officer@anu.edu.au  <br>-->
<!--</p>-->

<h2>Written Consent</h2>
    <p>I have read and understood the above Information Sheet you have given me about the research project, and I
    have had any questions and concerns about the project addressed to my satisfaction.</p>

{% formfields %}

    {% next_button %}


    <style>
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');
.info-msg,
.info-msg {
  color: #059;
  background-color: #BEF;
}
</style>

{% endblock %}
